/* CSS DIRECTORY
  	1. =GLOBAL - body, img, a
    2. =HEADER
  	3. =NAVIGATION - nav
    4. =INTRO - hero, intro images (just below the navigation)
  	5. =PARAGRAPHS - h1, h2 and specific classes
    6. =FOOTER
  	7. =CUSTOM LINKS - buttons, logo
    8. =LAYOUT - layout styling
    9. =MEDIA QUERIES - adjustments for different screen sizes
    =Q - questions (to be removed after studying is over)
*/

/*
  Colors used:
    Primary Color (Red): #ff3e41;
    Primary Color (Dark Blue): #373f51;
    Secondary Color (Light Grey): #f6f6f6;
    Background Color (White): #fff;
*/

/*
  Typography Used:

    RALEWAY (for headings) & KAHLUA (for paragraphs and smaller text)

    --- Menu: Raleway, Light, 16

    --- Headings
        Hero Section: Raleway, Medium, 29
                      Raleway, Light, 21
        Section Titles: Raleway, Regular, 28
        Subheadings (Projects): Raleway, Regular, 12
        Subheadings2 (Description): Raleway, Semibold, 20

    --- Paragraphs: Khula, Regular, 16

    --- Buttons: Khula, Semibold, 14
 */

/* ===GLOBAL=== */

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Khula', sans-serif;
  font-size: 18px; /* UPDATED: after checking the color accessibility, body font changed to 18px (the links and the text have the same size) mobile: 16px */
  font-weight: 400;
  line-height: 1.6;
  color: #373f51;
}

main {
  padding-top: 76.28px;
}

img {
  width: 100%;
  height: 100%;
}

a {
  display: inline-block;
  color: #ff3e41;
  text-decoration: none;
  font-weight: 600;   /* Semibold */
}

picture {
  display: flex;
}

/* ===HEADER=== */
header {
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  padding: 15px 10px;
  position: fixed;
  width: 100%;
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  transition: top 0.3s;
}

/* ===NAVIGATION=== */
nav {
  width: auto;
  display: inline-block;

  /* margin-top: 2px; */
  float: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* remove margin for nav menu so it's aligned with the logo */
}

nav ul li a {
  padding: 0 10px;
  color: #373f51;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

#desktop-nav ul li { /* menu items in one line */
  display: inline-block;
}

#desktop-nav ul li:last-child a { /* remove right padding for the last visible menu item Contact to align it with the border of the container */
  padding-right: 0;
}

/* Animated slide down nav menu */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 71px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  box-shadow: 0 5px 5px 0 rgba(117, 117, 117, 0.3);

  /* background-image: linear-gradient(rgba(255,255,255,1), rgb(246, 246, 246,0.5)); */
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.overlay a {
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #000; /* TODO Stye the links for this state */
}

/* End of animated slide down nav menu */

/* Animated Hamburger menu Icon */

.animated-ham-icon {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 7px 0 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-ham-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  background: #373f51;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-ham-icon span:nth-child(1) {
  top: 3px;
}

.animated-ham-icon span:nth-child(2),
.animated-ham-icon span:nth-child(3) {
  top: 9px;
}

.animated-ham-icon span:nth-child(4) {
  top: 15px;
}

.animated-ham-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.animated-ham-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-ham-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-ham-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

/* End of animated hamburger icon */

/* ===INTRO=== */
#hero {
  /* background-color: #f9efe3; */
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgba(183, 182, 182, 0.5);
}

#hero h1 {
  margin-top: 0;
}

/* ===PARAGRAPHS=== */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.278em; /* mobile: 41px */
  font-weight: 500;
}

/* #hero h1 {
  text-align: center;
} */
.center-text {
  text-align: center;
}

#hero h1 span { /* em is calculated in relation to h1 */
  font-size: 0.61em; /* mobile: 25px */
  font-weight: 300;
  display: block;
  max-width: 900px;
  margin: 0 auto;
}

/* h2, #my-story h1{
  font-family: 'Raleway', sans-serif;
  font-size: 1.750em;
  font-weight: 400;
} */

h2,
.h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.556em; /* mobile: 28px */
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

h3 { /* This style is going to be used only in the project Ink Tank */
  font-family: 'Raleway', sans-serif;
  font-size: 1em; /* mobile: 18px */
  font-weight: 600;
}

h2 + h3 { /* Subheadings which go directly below h2 titles (e.g. Project subtitles in index.html) */
  font-family: 'Raleway', sans-serif;
  font-size: 0.889em; /* mobile: 16px */
  font-weight: 400;
  line-height: 1.6;
  color: #6a809a;
  margin: 0;
}

/* ===FOOTER=== */

footer {
  background-color: #f6f6f6;
  display: inline-block;
  width: 100%;
}

footer p:last-child { /* copyright section */
  margin-top: 2em;
}

/* ===CUSTOM LINKS=== */

.button {
  display: inline-block; /* by default 'a' is an inline-level element, which ignores top & bottom paddings/margins. To avoid that, we need inline-block. In contrary to 'block' it won't start in a new line, which is needed if we want to place two buttons next to each other. Height and width can be set as well (in contrary to 'inline') */
  background-color: #ff3e41;
  color: #fff;
  font-size: 0.875em;  /* 14px */
  padding: 0.6em 1em;
  text-align: center;
  border-radius: 4px;
  transition: opacity 0.2s;
}

.button:hover,
.button:focus {
  color: #fff;
  opacity: 0.8;
}

.button:active { /* same as hover & focus */
  color: #fff;
  opacity: 0.8;
}

/* Logo */
.logo,
.logo img {
  border-bottom: none;
  width: 100%;
  max-width: 55px;
  display: inline-block;
  line-height: 0;
  position: relative;
  top: 3px;
}

/* Active menu links */
.active {
  color: #000;
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  font-weight: 600;
}

/* Animated underline for links */

.animated-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #ff3e41;
  transition: width 0.3s;
}

#header .animated-underline::after { /* black underline for the desktop nav links */
  background: #000;
}

.animated-underline:hover::after {
  width: 100%;
}

.animated-underline:active::after {/* same as hover and focus */
  width: 100%;
}

/* do not display animated underline on touch devices */
@media (hover: none) {
  .animated-underline:hover::after { width: 0; }
}

/* END OF Animated underline for links */

/* =======H1 text for perfect properties on top of the image

  .pp {
  background: url(../img/perfect-properties/intro-s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 10px;
}
.intro h1{

  font-size: 36px;
  color: Blue;
margin: 0;
}
.col-1 {
  width: 20%;
  float: left;
}
.col-2 {
  width: 80%;
  float: left;
}
.row {
  display: table;
  content: "";
  clear: both;
}

END: =======H1 text for perfect properties on top of the image */

/* ===LAYOUT=== */

.container {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
}

header .container,
#hero .container, /* this needs to be 90% width because of number of lines */
#intro-img .container { /* don't need that probably as well */
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

#my-work .container {
  max-width: 1400px;
}

footer .container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.row {
  margin: 25px 0;
}

.thanks {
  padding: 60px 0;
}

/* ===MEDIA QUERIES=== */

.row::after {
  content: ""; /* content property needs to be defined in order for pseudo-elment '::after' to work */
  clear: both;
  display: table;
}

/* Extra small Devices (639 px and smaller)
   -- for the SVG animation part only
   -- and to hide the desktop navigation */
@media only screen and (max-width: 767px) {
  .col-s-12 {
    width: 100%;
  }

  #desktop-nav { /* hide desktop nav menu */
    display: none;
  }
}

/* Small devices from 481px width */
@media only screen and (min-width: 481px) {
  body {
    font-size: 20px;
  }
}

/* Medium devices (768px and larger) */
@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .col-md-6 {
    width: 50%;
  }

  #ham-nav { /* hide hamburger menu */
    display: none;
  }

  #my-work h2 {
    margin-top: 0;
  }

  nav ul li a { /* expand desktop nav menu */
    padding: 0 30px;
  }

  /* don't need hero and intro containers probably. hero has to be narrower or the same as main container. and if intro image has to be full size, it doesn't need the container at all */
  /* header .container,
  #my-work .container,
  #hero .container,
  #intro-img .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  } */

  #hero h1 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

/* For the text to get bigger (if applied in the previous media for the smaller sizes - the texts do not fit properly in the work section) */
@media only screen and (min-width: 980px) {
  body {
    font-size: 22px;
  }
}

/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58%;
  }

  .col-lg-5 {
    width: 42%;
  }

  [class*="col-"] {
    padding: 0 20px;
  }

  nav ul li a {
    padding: 0 40px;
  }
}

/* X-large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 24px;
  }
}

/* ===ANIMATION=== */

/* This is animation for the dog.svg. To keep the code clean - it's included inside the SVG itself.

@keyframes tail-wagging {
  from {transform: translate(-400px);}
  to {transform: translate(100px,-200px);}
}

.tail {
  animation: 100ms tail-wagging infinite alternate linear;
} */
