/* CSS DIRECTORY
	1. =GLOBAL - body, img, a
	2. =NAVIGATION - nav
	3. =HEADERS - h1, h2 and specific classes
	4. =CUSTOM LINKS - buttons, logo

  =Q - questions (to be removed after studying is over)
*/
/*
Colors used:
Primary Color (Red): #FF3E41;
Primary Color (Dark Blue): #373F51;
Secondary Color (Light Grey): #F6F6F6;
Background Color (White): #FFFFFF;
*/

/*
Typography Used:

RALEWAY (for headings) & KAHLUA (for paragraphs and smaller text)

--- Menu: Raleway, Light, 16

--- Headings
Hero Section: Raleway, Medium, 29
              Raleway, Light, 21
Section Titles: Raleway, Regular, 28
Subheadings (Projects): Raleway, Regular, 12
Subheadings2 (Description): Khula, Semibold, 20

--- Paragraphs
Paragraphs: Khula, Regular, 16

--- Buttons: Khula, Semibold, 14

 */

/* ===GLOBAL=== */
body {
  background-color: #FFFFFF;
  font-family: 'Khula', sans-serif;
  font-size: 16px; /*mobile: 16px*/
  font-weight: 400;
  line-height: 1.6;
  color: #373F51;
}

img {
  width: 100%;
}

a {
  color: #FF3E41;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FF3E41;
  border-bottom: 1px solid currentColor;
}

a:active {/*same as hover and focus*/
  color: #FF3E41;
  border-bottom: 1px solid currentColor;
}

/* ===NAVIGATION=== */
nav li{
  color: #373F51;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
nav li:hover,
nav li:focus{
  color: #373F51;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
nav li:active { /*same as hover and focus*/
  color: #373F51;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

/* ===HEADERS=== */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.563em; /*mobile: 41px*/
  font-weight: 500;
}

#hero h1 span{ /*em is calculated in relation to h1*/
  font-size: 0.610em; /* mobile: 25px*/
  font-weight: 300;
  display: block;
}
#my-story h1{ /* same as h2 */
  font-family: 'Raleway', sans-serif;
  font-size: 1.750em; /*mobile: 28px*/
  font-weight: 400;
}
/* =Q would it be possible to write it this way as well? h1 in about.xml might need another solution anyway. currently, h1 is the title of the first paragraph.
  h2, #my-story h1{
  font-family: 'Raleway', sans-serif;
  font-size: 1.750em;
  font-weight: 400;
}*/
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.750em; /*mobile: 28px*/
  font-weight: 400;
}

h3 { /* This style is going to be used only in the project Ink Tank */
  font-family: 'Raleway', sans-serif;
  font-size: 1.125em; /*mobile: 18px*/
  font-weight: 600;
}
.project-subheading {
  font-family: 'Raleway', sans-serif;
  font-size: 0.750em; /*mobile: 12px*/
  font-weight: 400;
  line-height: 1.6;
  color: #6A809A;
}

/* ===CUSTOM LINKS=== */
.logo{
 border-bottom: none;
}
.logo:hover,
.logo:focus,
.logo:active {
  border-bottom: none;
}

.button{
  display: inline-block;
  background-color: #FF3E41;
  color: #FFFFFF;
  font-weight: 600;  /* Semibold */
  font-size: 0.875em;  /* 14px */
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus,
.button:active{
  color: #FFFFFF;
  opacity: 0.8;
}
